html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

button {
  outline: none;
  border: none;
}

h1 {
  margin: 2.5rem 0 2.5rem 0;
  line-height: 1.5;
}

h2 {
  margin: 2rem 0 2rem 0;
  color: #707070;
}

span {
  color: #465362;
  overflow-wrap: break-word;
}

p {
  margin: 0;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin: 0 auto;
}

.socials img {
  width: 1.9rem;
  transition: 0.2s all;
}

.socials img:hover {
  transform: scale(1.05);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
  margin-top: 3.5rem;
  height: 2.7rem;
}

.links a {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
  background: none;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 0 1.8rem 0 1.8rem;
  background-repeat: no-repeat;
  background-position: 2rem;
  background-size: 1.1rem;
  text-decoration: none;
  color: #465362;
  transition: 0.2s all;
}

.links a:hover {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
  cursor: pointer;
}

.links p {
  margin-left: 1.9rem;
}

.links .view-source {
  background-image: url("../media/links/github.svg");
}

.links .about-author {
  background-image: url("../media/links/link.svg");
}

/* Tablet Devices (Portrait) */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}
